.docesContainer {
    text-align: center;
    display: flex;
    flex-direction: column
}

.doceItem {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 50px;
    border-bottom: 1px solid #b61f7c;
    background-color: #FF1493;
    margin: 1px;
}
.btn {
    display: flex;
    justify-content: center;
    background-color: #FF1493;
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    transition: 0.5s;
}

.btn:hover {
    color: #ffbb33;
}